@font-face {
  font-family: 'Roboto_Slab';
  src: local('Roboto_Slab'), url(./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Roboto_Slab',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
